<h3>Users with forename containing: <%= params[:search] %></h3>

<table>
	<% @users.each do |user| %>
		<tr>
			<td><%= user.name %></td>
			<td><%= user.surname %></td>
			<td><%= link_to 'View', user %></td>
		</tr>
	<% end %>
</table>